<body>
  <p id="notice"></p>
  <h1>Books</h1>

  <table>
    <thead>...</thead>
    <tbody> </tbody>
  </table>

  <h2>new book</h2>
  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">...</form>
</body>
